html,body{
    margin:0;
    padding:0;
    background: #f7f7f7;
}

body{
    min-width:800px;
}

#wrap{
    background: #ffffff;
    margin: 0 auto;
    width: 900px;
}

#china-map {
    width: 800px;
    height: 800px;
    margin: auto;
}

#footer{
    text-align: center;
}